.header{
    background: #F26101;
    height: 20vh;
    width: 100vw;
    line-height: 20vh;

    h1{
        text-align: center;
        color: #fff;
        margin: 0;
    }
}

.expense{
    text-align: center;
    list-style: none;
    padding: 1rem 0;

    i{
        margin: 0 .7rem
    }
}